html{
    box-sizing: border-box;
}

*,
*::after
*::before{
    box-sizing: inherit;
}

body{
    color:#000;
    font-family: 'Comfortaa', cursive;
    /*font-family: 'Yeseva One', cursive;*/
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

.container{
    max-width: 1180px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

header{
    background-color:#fff8f3;
}

.header__inner{
    padding-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list{
    display: flex;
    gap: 20px;
}

.menu__list-link{
    text-transform: uppercase;
}

.phone{
    position: relative;
}

.phone::before{
    content: '';
    background-image: url(../images/phone.svg);
    width: 20px;
    height: 20px;
    left: -23px;
    position: absolute;
    top: -3px;
}

.footer__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__contacts{
    display: flex;
    flex-direction: column;
    width: 230px;
}

.email{
    margin: 17px 0;
}

.footer__social{
    display: flex;
    gap: 15px;
}